.idea
*/.idea/*
*/cmake-build-debug/*
cmake-build-debug
*.bag
*.png
*.zip
*.pyc
swarm_localization/.vscode/
swarm_detection/.vscode/
localization_proxy/.vscode/
swarm_loop/build/
swarm_loop/.vscode/c_cpp_properties.json
