.idea
*/.idea/*
*/cmake-build-debug/*
cmake-build-debug
*.bag
*.png
*.zip
*.pyc
swarm_localization/.vscode/
swarm_detection/.vscode/
localization_proxy/.vscode/
swarm_loop/build/
swarm_loop/.vscode/
swarm_loop/models/
swarm_loop/models.zip
.vscode/
support_files/ORBvoc.txt
swarm_localization/build/
*/build/
swarm_loop/config/hfnet/saved_model.pb
swarm_loop/config/hfnet/variables/variables.data-00000-of-00001
swarm_loop/config/hfnet/variables/variables.index
build/
swarm_loop/config/
swarm_loop/.ipynb_checkpoints/
swarm_loop/models/hfnet/
swarm_loop/models/hfnet_v2
swarm_loop/models/hfnet_trt
swarm_loop/models/hfnet_v2_netvlad/saved_model.pb
swarm_loop/models/hfnet_v2_netvlad_trt/
swarm_loop/models/hfnet_v2_superpoint_trt/
*.pb
data_analyze/.ipynb_checkpoints/
swarm_localization/DataAnalysis/.ipynb_checkpoints/
swarm_localization/scripts/.ipynb_checkpoints/local_plot-checkpoint.py
swarm_localization/DataAnalysis/*
swarm_loop/scripts/pca.py
