.idea
*/.idea/*
*/cmake-build-debug/*
cmake-build-debug
*.bag
*.png
*.zip
*.pyc
swarm_localization/.vscode/
swarm_detection/.vscode/
localization_proxy/.vscode/
swarm_loop/build/
swarm_loop/.vscode/
.vscode/
support_files/ORBvoc.txt
swarm_localization/build/
*/build/
swarm_loop/config/hfnet/saved_model.pb
swarm_loop/config/hfnet/variables/variables.data-00000-of-00001
swarm_loop/config/hfnet/variables/variables.index
build/
swarm_loop/config/
