<launch>
    <include file="$(find infinity_uwb_ros)/launch/uwb_node.launch">
        <arg name="serial_name" value="/dev/tty.SLAB_USBtoUART" />
        <arg name="baudrate" value="921600"/>
    </include>
    <!-- <node pkg="swarm_station" name="swarm_station" type="swarm_station_joy.py" output="screen">  -->
    <!-- </node> -->
    <include file="$(find mocap_optitrack)/launch/mocap.launch">
    </include>
</launch>