<launch>
    <!-- <node pkg="swarm_drone_proxy" name="swarm_drone_proxy" type="swarm_drone_proxy_node" output="log">
       <param name="vins_topic" value="/vins_estimator/imu_propagate" type="string" />
    </node> -->
    <param name="use_sim_time" value="true" type="bool" />

    <node pkg="swarm_vo_fuse" name="swarm_vo_fuse" type="swarm_vo_fuse_node" output="log">
    <rosparam>
    force_freq: 20
    max_accept_cost: 0.1
    max_keyframe_num: 200
    min_keyframe_num: 40
    thread_num: 4
    anntenna_pos:
        x: 0
        y: 0
        z: 0.27
    </rosparam>
    </node>
    <node pkg="swarm_station" name="swarm_station" type="swarm_offline_tune.py" output="screen">
    </node>
</launch>