<launch>
    <arg name="use_stereo" default="false"/>
    <arg name="is_show" default="false" />

    <node pkg="swarm_detection" name="swarm_detection" type="swarm_detection_node" output="screen" > 
        <remap from="~left_camera" to="/camera/infra1/image_rect_raw" />
        <remap from="~left_camera" to="/camera/infra2/image_rect_raw" />
        <param name="is_show" type="bool" value="$(arg is_show)" /> 
        <param name="undist_camera" type="bool" value="false" />       
        <param name="duration" type="double" value="0.001" />
        <param name="left_cam_def" type="string" value="/home/dji/SwarmConfig/realsense/left.yaml" />
        <param name="right_cam_def" type="string" value="" />
        <param name="vo_def" type="string" value="/home/dji/SwarmConfig/realsense/realsense_n3_unsync.yaml" />
        <param name="use_stereo" type="bool" value="$(arg use_stereo)"/>
    </node>
    <node pkg="message_to_tf" name="message_to_tf" type="message_to_tf" output="screen" 
     args="/vins_estimator/odometry">
    </node>
</launch>
