<launch>
    <param name="use_sim_time" value="true" type="bool" />
    <!-- <node pkg="swarm_vo_fuse" name="swarm_vo_visualize" type="swarm_vo_visualize.py" output="screen"> 
    </node> -->\
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock /home/xuhao/swarm_offline_tune_2018-10-30-05-18-52.bag"/>
    <node pkg="swarm_vo_fuse" name="swarm_vo_fuse" type="swarm_vo_fuse_node" output="screen">
       <param name="force_freq" value="5" type="double" />
       <param name="max_accept_cost" value="0.1" type="double" />
       <param name="max_keyframe_num" value="100" type="int" />
       <param name="min_keyframe_num" value="10" type="int" />
       <param name="thread_num" value="8" type="int" />
    </node>
</launch>