<launch>
    <include file="$(find infinity_uwb_ros)/launch/uwb_node_manifold2_usb.launch">
    </include>
    <include file="$(find swarm_vo_fuse)/launch/stereo.launch">
    </include>
    <include file="$(find djisdkwrapper)/launch/sdk.launch">
    </include>
    <node pkg="swarm_vo_fuse" name="swarm_tx2_helper" type="swarm_tx2_helper.py" output="screen"> 
    </node>
    <include file="$(find vins_estimator)/launch/dji_stereo.launch">
    </include>
</launch>
