<launch>
     <arg name="is_sync" default="true"/> 
     <node name="stereo" pkg="ptgrey_reader" type="multi_reader" output="screen">
        <param name="is_pub" type="bool" value="true"/>
        <param name="is_show" type="bool" value="false"/>
        <param name="is_print" type="bool" value="true"/>
        <param name="is_sync" type="bool" value="$(arg is_sync)"/>
	<rosparam command="load" file="/home/dji/SwarmAutoInstall/config/camera_config.yaml" />
        <rosparam>
        # common setting and default individual settings
        cam_cnt: 2
        frameRate:  20
        is_auto_shutter: false
        shutter: 5.0
        brightness: 10.1
        exposure: 0.4

        # individual setting for camera 0
        camera0:
            topic:     right/image_raw
            topic_roi: right/image
            is_roi:    true
            size_x:    1280
            size_y:    1024
            center_x:  640
            center_y:  512
            cropper_x: 1280
            cropper_y: 1024
            down_sample_scale: 0.5
        camera1:
            topic:     left/image_raw
            topic_roi: left/image
            is_roi:    true
            size_x:    1280
            size_y:    1024
            center_x:  640
            center_y:  512
            cropper_x: 1280
            cropper_y: 1024
            down_sample_scale: 0.5
        </rosparam>
    </node>
</launch>
