<launch>
    <arg name="bag_path" default="/home/dji/.ros" />
    <include file="$(find infinity_uwb_ros)/launch/uwb_node_manifold2.launch">
    </include>
    <node pkg="swarm_drone_proxy" name="swarm_drone_proxy" type="swarm_drone_proxy_node" output="screen">
       <param name="vins_topic" value="/vins_estimator/odometry" type="string" />
    </node>
    <node pkg="swarm_vo_fuse" name="swarm_vo_fuse" type="swarm_vo_fuse_node" output="screen">
       <param name="force_freq" value="5" type="double" />
       <param name="max_accept_cost" value="0.5" type="double" />
       <param name="max_keyframe_num" value="100" type="int" />
       <param name="min_keyframe_num" value="10" type="int" />
       <param name="thread_num" value="4" type="int" />
    </node>
    <node pkg="rosbag" type="record" name="rosbag_record_swarm"
       args="record -o $(arg bag_path) /dji_sdk_1/dji_sdk/imu /vins_estimator/imu_propagate /vins_estimator/odometry /uwb_node/remote_nodes /drone_1/position_cmd /dji_sdk_1/dji_sdk/flight_control_setpoint_generic"/>  
</launch>
