<launch>
    <arg name="display" default="true" />
    <node name="swarm_loop" pkg="swarm_loop" type="swarm_loop_node" output="screen">
        <rosparam>
            lcm_uri: udpm://224.0.0.251:7667?ttl=1
            self_id: 2
        </rosparam>
       <param name="debug_image" value="true" type="bool" />
       <param name="camera_config_path" value="/home/xuhao/bags/swarm_loop/single_drone_loop_bag/realsense/left.yaml" type="string" />
        <remap from="~left_camera" to="/camera/infra1/image_rect_raw"/>
    </node>
     <node name="vins_estimator" pkg="vins" type="vins_node" output="log" 
        args="/home/xuhao/bags/swarm_loop/single_drone_loop_bag/realsense/realsense_n3_unsync.yaml" />
    
</launch>
