<launch>
    <arg name="display" default="false" />
    <arg name="node_start_delay" default="30.0" />
    <arg name="manager"     default="manager"/>
    <arg name="output" default="screen" />

    <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen" />
    <node pkg="nodelet" type="nodelet" name="SwarmLoopNode" 
        args="load swarm_localization_pkg/SwarmLoopNode /$(arg manager)" output="screen" ns="swarm_loop">
        <rosparam>
            lcm_uri: udpm://224.0.0.251:7667?ttl=1
            loop_image_downsample: 1.0
            init_loop_min_feature_num: 8
            init_loop_min_feature_num_l2: 8
            min_loop_feature_num: 8
            jpg_quality: 75
            enable_lk: true
            
            query_thres: 0.1
            init_query_thres: 0.3

            min_movement_keyframe: 0.1
            enable_pub_remote_img: true
            enable_sub_remote_img: false
            self_id: 4
        </rosparam>
        <!-- <rosparam command="load" file="/home/dji/SwarmConfig/drone_define.yaml" /> -->
       <param name="debug_image" value="$(arg display)" type="bool" />
       <param name="camera_config_path" value="/root/swarm_ws/src/VINS-Fusion-Fisheye/config/fisheye_ptgrey_n3/front.yaml" type="string" />
    </node>
    <node name="hfnet_server" pkg="swarm_loop" type="HFNet_server.py" output="$(arg output)">
        <rosparam>
            nms_radius: 4
            num_keypoints: 200
        </rosparam>
        <param name="model_path" type="string" value="$(find swarm_loop)/config/hfnet" />
    </node>
</launch>
