<launch>
    <arg name="display" default="true" />
    <arg name="node_start_delay" default="30.0" />
    <arg name="rand" default="10.0" />
    <arg name="viz" default="false" />
    
    <node name="swarm_loop" pkg="swarm_loop" type="swarm_loop_node" output="screen">
        <rosparam>
            lcm_uri: udpm://224.0.0.251:7667?ttl=2
            loop_image_downsample: 1
            init_loop_min_feature_num: 10
            min_loop_feature_num: 10
            jpg_quality: 75
            enable_lk: true
            
            query_thres: 0.8
            init_query_thres: 0.3

            enable_pub_remote_img: false
            enable_sub_remote_img: true
            self_id: 4
        </rosparam>
       <param name="debug_image" value="$(arg display)" type="bool" />
       <param name="camera_config_path" value="/home/xuhao/bags/drone-4/realsense/left.yaml" type="string" />
    <remap from="~left_camera" to="/camera/infra1/image_rect_raw"/>
    </node>

    <node pkg="swarm_localization" name="swarm_localization" type="swarm_localization_node" output="screen">
        <rosparam>
            force_freq: 5
            max_accept_cost: 10
            max_keyframe_num: 100
            min_keyframe_num: 1
            thread_num: 1
            min_kf_movement : 0.5
            init_xy_movement : 2.0
            init_z_movement : 1.0
            pub_swarm_odom: true
        </rosparam>
        <param name="swarm_nodes_config" value="$(find swarm_localization)/config/swarm_nodes5.yaml" type="string" />
        <param name="cgraph_path" value="$(env HOME)/graph.dot" type="string" />
        <param name="initial_random_noise" value="$(arg rand)" type="double" />
    </node>

    <!-- <node name="my_desc_server" pkg="tx2_whole_image_desc_server" type="py2_whole_image_desc_server_ts.py" output="log">
        <param name="frozen_protobuf_file" type="string" value="$(find tx2_whole_image_desc_server)/tx2_py3_tfserver/models.keras/June2019/centeredinput-m1to1-240x320x1__mobilenetv2-block_9_add__K16__allpairloss/modelarch_and_weights.2000.pb" />
        <param name="nrows" type="string" value="240" />
        <param name="ncols" type="string" value="320" />
        <param name="nchnls" type="string" value="1" />
        <remap from="left_camera" to="/camera/infra1/image_rect_raw"/>
    </node> -->

    <node name="vins_estimator" pkg="vins" type="vins_node" output="log" args="/home/xuhao/bags/drone-4/realsense/realsense_n3_unsync.yaml" />
    <node pkg="localization_proxy" name="localization_proxy" type="localization_proxy_node" output="log">
       <param name="vins_topic" value="/vins_estimator/imu_propagate" type="string" />
       <rosparam>
            send_fused_freq: 0.0
            send_fused_basecoor_freq: 30.0
            self_id: 4
       </rosparam>
    </node>

</launch>
