<launch>
    <arg name="rand" default="10.0" />
    <arg name="num" default="5" />
    <arg name="output" default="screen" />
    <arg name="show" default="false" />
    
    <!-- <node name="vins_estimator" pkg="vins" type="vins_node" output="log" 
        args="/media/xuhao/Swarm/swarm_bags/fisheye_loop/fisheye_ptgrey_n3/fisheye.yaml" /> -->
    
    <node name="swarm_loop" pkg="swarm_loop" type="swarm_loop_node" output="$(arg output)">
        <rosparam>
            lcm_uri: udpm://224.0.0.251:7667?ttl=1
            loop_image_downsample: 1.0
            init_loop_min_feature_num: 8
            init_loop_min_feature_num_l2: 8
            min_loop_feature_num: 8
            jpg_quality: 75
            enable_lk: true
            
            query_thres: 0.3
            init_query_thres: 0.3

            min_movement_keyframe: 0.1
            enable_pub_remote_img: true
            enable_sub_remote_img: false
            self_id: 4
            match_index_dist: 10
        </rosparam>
       <param name="debug_image" value="$(arg show)" type="bool" />
       <param name="camera_config_path" value="/home/xuhao/bags/fisheye_loop/fisheye_ptgrey_n3/front.yaml" type="string" />
    </node>
    <!-- <node pkg="localization_proxy" name="localization_proxy" type="localization_proxy_node" output="log">
       <param name="vins_topic" value="/vins_estimator/imu_propagate" type="string" />
       <rosparam>
            send_fused_freq: 0.0
            send_fused_basecoor_freq: 30.0
            self_id: 0
            enable_uwb: false
       </rosparam>
    </node>
    <node pkg="swarm_localization" name="swarm_localization" type="swarm_localization_node" output="log" >
        <rosparam>
            force_freq: 1
            max_accept_cost: 10000
            max_keyframe_num: 10000
            min_keyframe_num: 3
            thread_num: 2
            min_kf_movement : 0.5
            init_xy_movement : 1.0
            init_z_movement : 0
            pub_swarm_odom: true
        </rosparam>
        <param name="swarm_nodes_config" value="$(find swarm_localization)/config/swarm_nodes5.yaml" type="string" />
        <param name="initial_random_noise" value="$(arg rand)" type="double" />
    </node> -->
</launch>
