<launch>
    <node name="swarm_loop" pkg="swarm_loop" type="swarm_loop_node" output="screen">
        <rosparam>
            camera_config_path: /home/xuhao/bags/vo_bag/realsense/left.yaml
            debug_image : true
        </rosparam>
        <remap from="~left_camera" to="/camera/infra1/image_rect_raw"/>
    </node>
    <node name="vins_estimator" pkg="vins" type="vins_node" output="log" 
        args="/home/xuhao/bags/vo_bag/realsense/realsense_n3_unsync.yaml" />
</launch>
