<launch>
    <arg name="show" default="false" />
    <arg name="drone_id" default="1" />
    <arg name="viz" default="true" />
    <include file="$(find swarm_localization)/launch/loop-5-pc.launch" >
        <arg name="viz" value="$(arg viz)" />
        <arg name="output" value="screen" />
    </include>

    <include file="$(find localization_proxy)/launch/uwb_comm.launch">
        <arg name="output" value="log" />
    </include>

    <include file="$(find swarm_detector)/launch/detector.launch" >
        <arg name="show" value="$(arg show)" />
        <arg name="drone_id" value="$(arg drone_id)" />
        <arg name="detect_duration" value="0.0" />
        <arg name="output" value="log" />
        <arg name="extrinsic_path" 
            value="/home/xuhao/Dropbox/data/TRO2020-SwarmLocal/tro2020-bags/SwarmConfig1/fisheye_ptgrey_n3/fisheye_cuda.yaml" />
    </include>
</launch>