<launch>
    <arg name="rand" default="10.0" />
    <arg name="num" default="5" />
    <arg name="detection" default="true" />
   <node pkg="swarm_localization" name="swarm_localization" type="swarm_localization_node" output="screen">
        <rosparam>
            force_freq: 1
            max_accept_cost: 10
            max_keyframe_num: 50
            min_keyframe_num: 5
            thread_num: 4
        </rosparam>
        <param name="swarm_nodes_config" value="$(find swarm_localization)/config/swarm_nodes5.yaml" type="string" />
        <param name="initial_random_noise" value="$(arg rand)" type="double" />
    </node>
   <!-- <node pkg="swarm_localization" name="relative_fused_vicon_convert" type="relative_fused_vicon_convert.py" output="screen" /> -->

    <param name="use_sim_time" value="true" type="bool" />
    <!-- <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find swarm_localization)/config/5drone-vicon.rviz" /> -->
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find swarm_localization)/config/5drone.rviz" />
    <node name="message_to_tf" pkg="message_to_tf" type="message_to_tf" output="log" args="/vins_estimator/imu_propagate" />
    <node pkg="localization_proxy" name="localization_proxy" type="localization_proxy_node" output="screen">
       <param name="vins_topic" value="/vins_estimator/imu_propagate" type="string" />
    </node>
    <include file="$(find swarm_yolo)/launch/drone_detector.launch">
    <arg name="debug_show" value="cv" />
    </include>
</launch>