<launch>
    <arg name="rand" default="10.0" />
    <arg name="num" default="5" />
    <arg name="detection" default="true" />
    <arg name="output" default="screen" />

    <node pkg="swarm_localization" name="swarm_localization" type="swarm_localization_node" output="$(arg output)">
        <rosparam>
            force_freq: 100
            max_accept_cost: 100
            max_keyframe_num: 100
            min_keyframe_num: 1
            thread_num: 2
            min_kf_movement : -0.5
            init_xy_movement : 0
            init_z_movement : 0
            triangulate_thres: 1.0
        </rosparam>
        <param name="swarm_nodes_config" value="$(find swarm_localization)/config/swarm_nodes5.yaml" type="string" />
        <param name="initial_random_noise" value="$(arg rand)" type="double" />
    </node>
</launch>
