<launch>
    <arg name="rand" default="10.0" />
    <arg name="viz" default="false" />
    <node pkg="swarm_localization" name="swarm_localization" type="swarm_localization_node" output="screen">
        <rosparam>
            force_freq: 5
            max_accept_cost: 10
            max_keyframe_num: 100
            min_keyframe_num: 1
            thread_num: 1
            min_kf_movement : 0.5
            init_xy_movement : 2.0
            init_z_movement : 1.0
            pub_swarm_odom: true
        </rosparam>
        <param name="swarm_nodes_config" value="$(find swarm_localization)/config/swarm_nodes5.yaml" type="string" />
        <param name="initial_random_noise" value="$(arg rand)" type="double" />
        <param name="cgraph_path" value="/home/dji/swarm_log_lastest/graph.dot" type="string" />
    </node>
    <group if="$(arg viz)">
        <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find swarm_localization)/config/5drone.rviz" />
    </group>
</launch>
